* {
margin: 0;
padding: 0;
box-sizing:border-box;
background: #000;
}

html,body{
width:100%;
height:100%;
text-align: center;
}

#book-call{
  color: white;
  font-size: larger;
}
.book-form{
  display: table;
  margin-top: 5%;
  margin-left: 30%;
  color: white;
 border-spacing: 2px;

}
label{
  display: table-cell;
  color: white;
  box-shadow: 4px 1px 3px rgb(237, 71, 71);
  width: 200px;
  
}
input {
  display: table-cell;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
box-shadow: 10px 4px 8px  rgb(237, 71, 71);
margin-left: 35%;
color: white;


}
.btn button{
  color: white;
  margin-top: 50px;
}
.btn button:hover{
  background: white;
  color: black;
}

